*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: darkblue;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(2, 14, 50, 0.7), rgba(5, 1, 38, 0.7)),url(newsback.jpeg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background:darkviolet;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.langauge-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}
.langauge-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 70px;
}
.email-signup{
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db00a8;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}
ul{
    list-style: none;
    display:flex;
    align-items: center;
}
li{
    padding: 5px 10px;
    cursor: pointer;
}
.hover-link{
    color: var(--secondary-text-color);
}
.hover-link:active{
    color: #db00a8;
}
.nav-item.active{
    color: aquamarine;
}
.search-bar{
    height: 32px;
    display: flex;
    gap: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #db00a8;
}
.search-button{
    background-color:cornflowerblue;
    cursor: pointer;
}
.search-button:hover{
    background-color: deeppink;
}
main{
    padding-block: 20px;
    margin-top: 70px;
}
.cards-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-inline: auto;
    overflow: hidden;
    max-width: 1180px;
}
.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    
    transform: translateY(-2px);
     
}
.card-header{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
}
.news-source{
    margin-block: 12px;
}